/* Reset browser impostazioni di default */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
 }

 .flex {
    display: flex;
   }
   
    .f-space-between {
    justify-content: space-between
   }

   .f-align-center {
    align-items: center;
   }

   .textalign {
    text-align: center;
   }

   .bgpurple {
    background-color: #9792e4;
   }

   .btn {
    border-radius: 50px;
    padding: 6px 60px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
   }

   .btnblue {
    color: white;
    background-color: #0084fd;
   }
   
   section {
    padding: 43px 25px;
   }

   /* Header  */

   nav {
    background-color: #0084fd;
    color: white;
    padding: 10px 20px;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-between;

   }

   .menunav {
    display: none;
   }

   .menu {
    align-items: center;
   }

   .hdcard {
    background-color: #b5ddff;
    color: black;
    border-radius: 20px;
    padding: 30px 30px 0px 30px;
   }

   .hdcard h2 {
    color: #0084fd;
    padding-top: 10px;
   }

   .hdcard p{
    padding: 30px 0px 30px 0px;
   }

   .hdcard button {
    margin: 30px 0px 30px 0px;
   }

   #phone img{
    width: 90%;
    display: block;
   }

   .iconcards {
    text-align: center;
    margin-top: 25px;  
   }

   .iconcards i {
    font-size: 5rem;
    color: #0084fd;
   }

           /* MAIN  */

   .plansec {
    display: flex;
    flex-wrap: wrap;
   }


   .planning img {
    width: 100%;
    padding-bottom: 70px;
   }

   .planning {
    padding: 20px;
    color: white;
   }

  .planning h2 {
    padding-bottom: 40px;
}

    #planning2 {
        background-color: white;
        color: black;
        border-radius: 20px;
        text-align: center;
    }

    #planning2 p {
        font-style: oblique;
    }

    #arrowplan {
        border-radius: 50px;
        color: black;
        font-size: 2rem;
        padding: 9px 10px;
        background-color: #9792e4;
        margin: 20px 42%;
    }

    .testimonial h2 {
       color:  #9792e4;
       padding: 30px 0px;
    }

    .testcard {
        background-color: #9792e4;
        border-radius: 60px;
        padding: 10%;
        color: white;
        margin-top: 50px;
    }

    .testimg img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
    }

    .testcard p {
        padding: 30px 0px;
        font-size: large;
    }

    .bftscard {
        background-color: white;
        border-radius: 20px;
        padding: 30px;
        line-height: 30px;
        margin: 20px 10px 20px 10px;
    }

    .bftscard h1, .bftscard h2 {
        color: #9792e4;
        padding: 10px 0px 10px 0px ;
    }

    .bftscard button {
        margin-top: 20px;
        color: white;
        background-color: #9792e4;
    }

    .bftscard h1 {
        font-size: 2rem;
        font-weight: normal;
    }

    #bfth1 h1 {
        color: white;
        text-align: center;
        padding: 20px 0px 40px 0px;
        font-size: 2rem;
    }

    .aboutcontainer {
        line-height: 30px;
    }

    .aboutext {
        padding: 30px 0px 30px 0px;
    }

    .aboutext h1 {
        font-size: 2.9rem;
        color: #9792e4;
        padding: 10px 0px 30px 0px;
    }

    .aboutimg img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
        position: relative;
    }

    #quoteabout {
        position: absolute;
        font-size: 7rem;
        color: #9792e4;
        right: 20px;
    }

    .aboutimg h3 {
        color: #9792e4;
        font-size: 2rem;
        padding: 20px 0px 25px 0px;
    }

    .aboutimg button {
        color: white;
        background-color: #9792e4;
    }


            /* MEDIA QUERY  */


            /* TABLET PORT  */
   @media screen and (min-width: 768px) {
    
    #cleancode {
        margin-top: 0%;
    }

    div#phonecard {
        width: 66%;
   }

   .hdcard {
    background-color: #b5ddff;
    color: black;
    border-radius: 20px;
    padding: 30px 30px 0px 30px;
    width: 31%;  
 }

 section {
    padding: 43px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .planning h2 {
        padding-bottom: 40px;
        font-size: 3rem;

    }

    #arrowplan {
        margin: 20px 46%;
    }

    .testcard {
        display: flex;
        padding: 3% 5%;        
        align-items: center;
    }

    .testimg img {
        width: 100%;
       }

     .testcard p {
        padding: 0%;

     }
     
     .testtext {
        width: auto;
        padding-left: 3%;
     }

    .testcard h3 {
        padding-top: 3%;
        text-align: left;
        padding-left: 3%;
    }

    .bftscardcontainer {
        display: flex;
        flex-wrap: wrap;
    }
    
    .bftscard {
        width: calc(90% /2);
    }
    


}


            /* DESKTOP PORT  */

@media screen and (min-width: 992px) {

    #cleancode {
        margin-top: 0%;
    }

    .menunav{
        display: inline-block;
        display: flex;
    }

    .fa-bars{
        display: none;
    }

    header i {
        display: none;
    }

    header li {
        margin: 0px 10px;
        cursor: pointer;
    }

    .margin70 {
        width: 70%;
        margin: auto;
    }
    
    div#phonecard {
        width: 66%;
        display: flex;
   }

   #phone img{
    width: 100%;
    display: block;
   }

   #phone {
    display: flex;
   }

   .plansec {
    margin: auto;
    flex-wrap: nowrap;
   }

   .testcard {
    display: flex;
    padding: 3% 5%;        
    align-items: center;
}

.testimg img {
    width: 100%;
   }

 .testcard p {
    padding: 0%;

 }
 
 .testtext {
    width: auto;
    padding-left: 3%;
 }

.testcard h3 {
    padding-top: 3%;
    text-align: left;
    padding-left: 3%;
}

.bftscardcontainer {
    display: flex;
    flex-wrap: wrap;
}

.bftscard {
    width: calc(90% /3);
    margin: 20px 10px 0px 10px;
}

}