/* Reset browser impostazioni di default */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 .flex {
    display: flex;
   }
   
    .f-space-between {
    justify-content: space-between
   }


   /* Header  */

   nav {
    background-color: #0084fd;
    color: white;
    padding: 10px 20px;
    font-size: 1.4rem;
    align-items: center;

   }